.buttom-primary {
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
border-radius: 20px;
transition: $tr;
font-size: 20px;
font-weight: 600;
line-height: 110%;
letter-spacing: 5%;
&:hover {
    cursor: pointer;
    background: transparent;
    border: 1px solid $white;
}
}