.hero {
    margin-top: 135px;
    padding: 100px 50px;
    display: flex;
    background-image: url(../img/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    gap: 50px;
    border-radius: 50px;
    .hero-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 60%;

        &__title {
            margin: 0 0 20px 0;
            font-size: 64px; 
            font-weight: 700; 
            line-height: 110%; 
            text-align: left;
        }
        .main-box {
            box-sizing: border-box;
            padding: 30px 300px 30px 30px;
            border: 1px solid $white;
            border-radius: 20px;
            position: relative;
            max-width: 1031px;
            max-height: 661px;
            &__title {
                padding-bottom: 30px;
                margin: 0;
                font-size: 24px;
                font-weight: 400;
                line-height: 110%;
                letter-spacing: 5%;
                text-align: left;
                }
            &__subtitle {
                width: 725px;
                font-size: 20px;
                font-weight: 400;
                line-height: 150%;
                text-align: left;
            }
            &__img {
                @include img-hero;
                
            }
        }
    
        &__buttom {
            max-width: 1031px;
            height: 130px;
            background-color: $accent;
            &:hover {
                background: transparent;
            }
        }
    }

    .hero-info {
        display: flex;
        gap: 20px;
        flex-direction: column;
        flex-basis: 40%;
        padding-right: 80px;
        &:hover {
            cursor: pointer;
            
        }
        .info-box {
            box-sizing: border-box;
            height: 154px;
            max-width: 480px;
            padding-left: 30px;
            padding-bottom: 30px;
            position: relative;
            display: flex;
            align-items: flex-end;
            transition: $tr;
            z-index: 1;
           
            &:hover {
                transition: $tr;
                
                .info-box__decor {
                    background-color: $accent;
                    border: 1px solid $accent;
                    transition: $tr;
                    &::after {
                        transition: $tr;
                    opacity: 0;
                    }
                    &::before {
                        transition: $tr;
                        opacity: 1;
                        transform: translate(0, 0) scale(1);
                    }
                    }
                }
            }

            .info-box__title {
                font-size: 24px;
                font-weight: 300;
                line-height: 110%;
                text-align: left;
                
                span {
                    display: block;
                    font-size: 32px;
                    font-weight: 700;
                    text-align: left;
                    padding-top: 15px;
                }
              
            }
            .info-box__subtitle {
                font-size: 32px;
                font-weight: 700;
                line-height: 110%;
                text-align: left;
            }
            .info-box__decor {
                box-sizing: border-box;
                border: 1px solid $white;
                border-radius: 10px;
                display: flex;
                align-items: center;
                position: absolute;
                width: 50px;
                height: 50px;
                right: -164px;
                top: 7px;
                justify-content: center;
                &::after {
                    content: "";
                    position: absolute;
                    width: 649px;
                    height: 151px;
                    background-image: url(../img/card.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    left: -593px;
                    top: -2px;
                    opacity: 1;
                    }
                &::before {
                    transition: $tr;
                    transform: translate(50%, -50%) scale(0);
                    content: "";
                    position: absolute;
                    width: 649px;
                    height: 151px;
                    background-image: url(../img/card-hover.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    left: -596px;
                    top: -2px;
                    
                    opacity: 0;
                    z-index: -1;
                    }

                
            }
        }
}
.tag-animation {
    width: 1830px;
    overflow: hidden;
    margin: 0 auto;
}
.tag {
    
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
    gap: 56px;
    animation: move-left 30s infinite linear;
    transition: $tr;
    &:hover {
        animation-play-state: paused;
        cursor: pointer;
        
    }
    &__text {

        position: relative;
        box-sizing: border-box;
        border: 1px solid $white;
        border-radius: 50px;
        padding: 10px 20px 10px 20px;
        font-size: 24px;
        font-weight: 200;
        line-height: 110%;
        transition: $tr;
        &:hover {
            border: 1px solid $accent;
            background-color: $accent;

        }
        &::before {
            position: absolute;
            content: '';
            background: $accent;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            top: calc(50% - 8px);
            left: -40px;
        }
    }
    @keyframes move-left {
        0% {
            transform: translate(100%, 0);
        }
        100% {
            transform: translate(-100%, 0);
        }
    }
}

// Блок с преподавателями
#title {
        flex-basis: 395px;
    }

.course {
    display: flex;
    gap: 70px;
    width: 100%;
    
    &-control {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        
        &__prev, &__next {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $white;
            border-radius: 100%;
            width: 70px;
            height: 70px;
            background: transparent;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50%;
            margin-top: 20px;
            transition: $tr;
            &:hover {
                background-color: $accent;
                border: 1px solid $accent;
                cursor: pointer;
            }
            &::after {
                content: '';
                display: block;
                width: 49px;
                height: 24px;
                
            }
        }
        &__prev {
            background-image: url(../img/icon/arrow_prev.svg);
        }
        &__next {
            background-image: url(../img/icon/arrow_next.svg);
            
        }
    }
    
    &__content {
        max-width: 1365px;
        display: flex;
        flex-direction: column;
        flex-basis: calc(100% - 395px - 70px);
        width: calc(100% - 395px - 70px);
    
.slider {
    display: flex;
    gap: 30px;
    transition: $tr;
    height: 707px;
    &-teacher {
        width: 465px;
        position: relative;
        overflow: hidden;
        border: 1px solid transparent;
        border-radius: 50px;
        background-color: $dark;
        transition: $tr;
        &:hover {
            border: 1px solid $white; 
            cursor: pointer;
        }
           
        &__grid {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: $tr;
            }
        &__img {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 637px;
            object-fit: cover;
        }
        &__name {
            display: none;
            z-index: 1;
            transition: $tr;
            font-size: 24px;
            font-weight: 400;
            line-height: 110%;
            
        }
        }


        &-teacher.active {
            border: 1px solid $accent;
            .slider-teacher__img {
                opacity: 1;
            }
            .slider-teacher__grid {
                opacity: 1;
            }
            .slider-teacher__name {
                display: block;
                position: absolute;
                bottom: 30px;
                left: 30px;
                &::before {
                content: '';
                position: absolute;
                display: block;
                background: linear-gradient(43.06deg, rgba(0, 0, 0, 0.75) 0%,rgba(0, 0, 0, 0) 59.813%);
                width: 438px;
                height: 637px;
                bottom: -30px;
                left: -30px;
                z-index: -1;

            }
        }
        
    }
}
    }
    .course__schedule {
        margin-top: 50px;
    }

    
    .accordion{
        &__btn {
            position: relative;
            font-size: 32px;
            font-weight: 400;
            line-height: 110%;
            text-align: left;
            width: 1365px;
            height: 90px;
            padding: 27px 0 27px 30px;
            border-radius: 20px;
            color: $accent;
            cursor: pointer;
            &::after {
                position: absolute;
                content: '';
                display: block;
                width: 50px;
                height: 50px;
                background-image: url(../img/ui/minus.svg);
                background-size: contain;
                background-repeat: no-repeat;
                right: 20px;
                bottom: 20px;


            }
        }
        &__btn.active::after {
            background-image: url(../img/ui/plus.svg);
        }
        &__list{
            box-sizing: border-box;
            width: 1365px;
            padding-left: 50px;
            padding-top: 30px;
            padding-bottom: 30px;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 45px;
            font-size: 24px;
            font-weight: 300;
            line-height: 110%;
            text-align: left;
            background: $white;
            border-radius: 20px;
            color: $dark;
        }
        &__item {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            justify-content: flex-start;
            font-size: 24px;
            font-weight: 300;
            line-height: 110%;
            letter-spacing: 0%;
            text-align: left;
            &::before {
                content: '—';

            }
        }
        &__panel{
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;

        }

        } 
        
    }

    // Блок с описанием шагов
    .steps {
        box-sizing: border-box;
        padding-top: 150px;
        max-width: 1920px;
        height: 592px;
        margin: 150px auto;        background: linear-gradient(180.00deg, rgb(31, 32, 35),rgb(112, 39, 226) 50%,rgb(31, 32, 35) 100%);
        border: 1px solid $white;
        border-radius: 50px;
        
        &__list {
            padding-top: 50px;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 30px;
            align-items: center;
            justify-content: center;
        }

        
        &__item {
            width: 435px;
            height: 206px;
            background-color: $white;
            border-radius: 50px;


        }
        &__icon {
            padding-top: 30px;
            padding-left: 30px;
            padding-bottom: 20px;
            width: 54px;
            height: 54px;

        }
        &__disc {
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
            color: $dark;
            padding: 0 30px 30px 30px;

        }
    }

// Блок с результитами обучения
.result {
    padding-bottom: 150px;
    margin: 0 auto;
    width: 1830px;
    &__list {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 30px;
    }
    &__item {
        background: $white;
        grid-column: span 3;
        display: flex;
        padding: 30px;
        flex-direction: column;
        border-radius: 20px;
    }
    .item__btn  {
        display: flex;
        flex-direction: row;
        grid-column: span 9;
        
    }
    &__number {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 46px;
        color: $white;
        border-radius: 10px;
        background: $accent;
        font-size: 24px;
        font-weight: 600;
        line-height: 110%;
    }
    &__desc {
        width: 375px;
        color: $dark;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
    }
    &__button {
        width: 870px;
        height: 130px;
        background: $accent;
        &:hover {
            color: $accent;
            border: 1px solid $accent;
        }
    }
    }
.direction {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 150px;
    
    &__title {
        display: block;
        padding-bottom: 50px;
        
    }
    &__item {
        box-sizing: border-box;
        border-bottom: 1px solid $accent;
        padding-left: 30px;
        display: flex;
        align-items: center;
        color: $white;
        position: relative;
        width: 1830px;
        height: 108px;
        font-size: 32px;
        font-weight: 400;
        line-height: 150%;
        transition: $tr;
        
        &::after {
            content: '';
            position: absolute;
            background-image: url(../img/ui/arrow_up.svg);
            width: 48px;
            height: 48px;
            right: 30px;
            top: 30px;
        }
        &:hover {
            border-radius: 10px;
            background: $accent;
            .direction__img {
                display: block;

            }
        }
    }
    &__img {
        display: none;
        position: absolute;
        left: 50%;
        bottom: -90px;

    }
}
.footer {
    
    &__conteiner {
        box-sizing: border-box;
        padding: 30px 50px;
        width: 1830px;
        height: 160px;
        background: $dark;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border-radius: 20px;
    }
    &__box-info {
        gap: 30px;
        display: flex;
        flex-direction: column;

    }
    &__logo {
        width: 296px;
        height: 22px;

    }
    &__info {
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        color: $white;
        span {
            color: $accent;
        }
    }
    &__box-social {
        gap: 23px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }
    &__social {
        display: flex;
        gap: 13px;
        grid-column: 4 / 5;
        justify-content: flex-end;
    }
    
    &__social-item {
        
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 10px;
        background: $white;
        transition: $tr;
        cursor: pointer;
        &:hover {
            background: #000;
        }
    &__social-img {
        width: 28px;
        height: 28px;

    }

    }
    &__protected {
        grid-column: 3 / 5;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
    }
    }

