@mixin img-hero {
    position: absolute;
    top: -68px;
    right: -21px;
    bottom: -30px;
    width: 337px;
    height: 274px;
    
    @media (max-width: 1530px) {
        z-index: -1;
    opacity: 0.5;
}
    }
