@media (max-width: 1024px) {
    
    .header {
        &::after {
            height: 71px;
        }
        &__logo {
            &::before {
            display: none;
            }
        }
        &__link {
            &::before {
                display: none;
            }

        }
    }
}
@media (max-width: 1870px) {
    .hero {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        &-main {
            grid-column: span 4;
        }
        &-info {
            grid-column: span 5;
            
        }
    }
}